<!-- <head>
    <link rel="stylesheet" type="text/css" href="css/temp.css">
    <script src="js/script_head.js"></script>
    
    <title>We Talk</title>
    </head>
    
    <p>
    <ul>
      <li><a href="/login">Login</a></li>
      <li>
        <form action="/friend_list" method="post">
            <input type="hidden" name="header_user" value=${header_user}>
            <input type="submit" value="Friend List"/>
        </form>
      </li>
    </ul>
    </p>
     <center><h2>S</h2> -->
    
<!--     
    <h3><i>Because the talking is more important than your education for now.</i></h3>
    
    <p>
    <img src="img/st.png" alt="Not our logo" height="20%">
    </p>
     
    <p> -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/css/main.css">
  <script src="static/js/darkmode.js"></script>
  <!-- <style>
    /* CSS styles */
    body {
      margin: 0;
      padding: 0;
    }

    nav {
      background-color: rgb(230, 226, 222);
      padding: 10px;
    }

    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }

    nav li {
      margin: 0 10px;
    }

    nav a {
      text-decoration: none;
      color: black;
    }

    .active {
      font-weight: bolder;
    }

  </style> -->
</head>
<body>
  <nav class="navbar">
      <a class="active" href="/home">Home</a>
      <a href="/login">Login</a>
      <form action="/friend_list" method="post">
        <input type="hidden" name="user" value=${user}>
        <input class="button-link" type="submit" value="Main Page"/>
      </form>
      <!--a href="/admin">Admin</a>-->
  </nav>
</body>
</html>
